<ul class="nav nav-pills">
  <li class="active">
    <a <%= link_to "Home", root_path %></a>
  </li>
  <li>
    <%= link_to "Profile", profile_path %>
  </li>
  <li>
    <%= link_to "Current Workout Plan", workout_plans_path %>
  </li>
  <li>
    <%= link_to "New Workout Plan", new_workout_plan_path %>
  </li>
  <li class="dropdown pull-right">
     <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider">
      </li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </li>
</ul>
